@font-face {
    font-family: pokeHollow;
    src: url(../../fonts/PokemonSolid.ttf);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */  
}

.menu {
  margin-top: 50px;
  display: inline-block;
  z-index: 2;
  border: 5px solid rgb(45, 45, 253);
  color: yellow;
  background-color: lightblue;
  border-radius: 15px;
  -webkit-box-shadow: inset 5px 5px 10px 3px rgba(0,0,0,0.75);  
  -moz-box-shadow: inset 5px 5px 10px 3px rgba(0,0,0,0.75);
  box-shadow: inset 5px 5px 10px 3px rgba(0,0,0,0.75);
}

.menu-title {
  font-family: pokeHollow;
  text-shadow:
		-5px -5px 0 rgb(45, 45, 253),
		5px -5px 0 rgb(45, 45, 253),
		-5px 5px 0 rgb(45, 45, 253),
    5px 5px 0 rgb(45, 45, 253);
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 80px;
}

.start-btn {
  margin-top: 25px;
  margin-bottom: 30px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.75);
}