@font-face {
    font-family: pokeHollow;
    src: url(../../fonts/PokemonSolid.ttf);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 3; /* Specify a stack order in case you're using a different order for other elements */  
}

.menu {
  margin-top: 50px;
  display: inline-block;
  z-index: 2;
  border: 5px solid rgb(45, 45, 253);
  color: yellow;
  background-color: lightblue;
  cursor: pointer; /* Add a pointer on hover */
  border-radius: 15px;
  -webkit-box-shadow: inset 5px 5px 10px 3px rgba(0,0,0,0.75);  
  -moz-box-shadow: inset 5px 5px 10px 3px rgba(0,0,0,0.75);
  box-shadow: inset 5px 5px 10px 3px rgba(0,0,0,0.75);
}

.menu-title {
  font-family: pokeHollow;
  text-shadow:
		-3px -3px 0 #000,
		3px -3px 0 #000,
		-3px 3px 0 #000,
    3px 3px 0 #000;
    margin-top: 20px;
    margin-bottom: 30px;
}

.directions {
  color: black;
  font-size: 24px;
}

.start-btn {
  margin-bottom: 20px;
}